/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body{
  margin: 20px;
  background: #45badd;
}

.container {
  height: 120vh;
  width: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 320px;
  height: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: 800;
  color: white;
  background: darkblue;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 10px rgba(rgb(43, 0, 255), rgb(45, 0, 128), rgb(3, 3, 29), 0.5));
}

button:hover {
  filter: brightness(70%);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  cursor: default;
  filter: brightness(10%);
}

/* Media Query for small device */
@media screen and (max-width: 800px){
  .container {
    background-position: center center;
    background-size: cover;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(rgb(43, 0, 255), rgb(45, 0, 128), rgb(3, 3, 29), 0.5));
  } ;
  }
}
